html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul,
li,
figure,
figcaption,
blockquote,
dl,
dd,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-family: Arial, sans-serif;
  background-color: #fff;
  color: #333;
}

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}

ol,
ul {
  list-style: none;
}

img {
  border-style: none;
}

table {
  border-collapse: collapse;
}

textarea {
  overflow: auto;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

#root {
  height: 100%;
  width: 100%;
}
