.level-tracking {
  h3 {
    margin-top: 0.3em;
    font-weight: 500;
    letter-spacing: 0.05em;
    margin-bottom: 0.5em;
  }
  .levels {
    display: flex;
    width: 100%;
    .level {
      height: 2em;
      line-height: 2em;
      text-align: center;
      padding: 0 2em;
      color: rgb(255, 247, 247);
    }
    .red {
      background-color: #bf2633;
      border-radius: 5px 0 0 5px;
    }
    .orange {
      background-color: #e68c0e;
    }
    .yellow {
      background-color: #e6b80e;
    }
    .green {
      background-color: #83c724;
    }
    .blue {
      background-color: #478ecc;
    }
    .silver {
      background-color: #a6a6a6;
    }
    .total-quantity {
      color: #e68c0e;
      font-weight: 400;
      letter-spacing: 0.03em;
      background-color: #fdfdfd;
      border-radius: 0 5px 5px 0;
    }
  }
}

@media (max-width: 1520px) {
  .level-tracking {
    h3 {
      margin-top: 0.5em;
      font-size: 1.2em;
    }
    .levels {
      display: flex;
      width: 100%;
      .level {
        height: 1.8em;
        line-height: 1.8em;
        text-align: center;
        padding: 0 1.8em;
      }
    }
  }
}
