.container {
  background-color: #f2937e1e;
  border-radius: 10px;
  padding: 7em 3.5em;
  -webkit-box-shadow: -1px 1px 30px -11px rgba(217, 64, 50, 1);
  -moz-box-shadow: -1px 1px 30px -11px rgba(217, 64, 50, 1);
  box-shadow: -1px 1px 30px -11px rgba(217, 64, 50, 1);

  .title {
    color: #d94032;
    font-weight: 500;
    text-align: center;
    margin-bottom: 0.2em;
  }

  .form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .form-group {
      margin-top: 0.6em;

      input {
        all: unset;
        box-sizing: border-box;
        width: 100%;
        margin: 0;
        padding: 1em 4.5em;
        background-color: #f2edd5;
        border-radius: 5px;

        &::placeholder {
          position: absolute;
          left: 1.3em;
          font-size: 0.95em;
          font-weight: 400;
          letter-spacing: 0.085em;
          opacity: 1;
        }
      }
    }

    .button {
      all: unset;
      box-sizing: border-box;
      width: 100%;
      margin-top: 0.7em;
      padding: 1em 4.5em;
      background-color: #f2937e;
      border-radius: 5px;
      text-align: center;
      cursor: pointer;
      transition: background-color 0.3s ease-in-out;

      &:hover {
        background-color: #f26b5e;
      }
    }

    .info {
      margin-top: 1.3em;
      font-weight: 400;
      letter-spacing: 0.09em;
      cursor: pointer;
    }
  }
}
