.container {
  background-color: #f2937e1e;
  border-radius: 10px;
  padding: 2.8em 3.8em;
  -webkit-box-shadow: -1px 1px 30px -11px rgba(217, 64, 50, 1);
  -moz-box-shadow: -1px 1px 30px -11px rgba(217, 64, 50, 1);
  box-shadow: -1px 1px 30px -11px rgba(217, 64, 50, 1);
}

.title {
  color: #d94032;
  font-weight: 500;
  text-align: center;
  margin-bottom: 0.2em;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-group {
  width: 100%;
  margin-top: 0.6em;
}

.info {
  margin-top: 1em;
  font-weight: 400;
  letter-spacing: 0.09em;
  cursor: pointer;
}

.error {
  width: 90%;
  margin-top: 1em;
  color: #d94032;
  font-weight: 400;
  letter-spacing: 0.09em;
  text-align: center;
}

@media (max-width: 1520px) {
  .container {
    padding: 2.3em 3.5em;
  }

  .title {
    font-size: 1.7em;
  }
}
