.cookie-modal {
  position: fixed;
  bottom: 5%;
  right: -50%;
  width: 70em;
  padding: 1em 0em;
  background-color: #f2edd5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1001;

  border-radius: 5px 0 0 5px;
  animation: slideIn 0.5s forwards;
}
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

@keyframes slideIn {
  from {
    right: -50%;
  }
  to {
    right: 0;
  }
}

h4 {
  margin-top: 0.5em;
  color: #4988bf;
  letter-spacing: 0.05em;
}

.container {
  margin-top: 0.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  p {
    width: 80%;
    text-align: center;
    font-weight: 300;
  }

  .button {
    all: unset;
    width: 8.5em;
    height: 2em;
    margin-top: 0.7em;
    margin-left: 1em;
    background-color: #d94032;
    color: white;
    text-align: center;
    line-height: 2em;
    font-size: 0.95em;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;

    &:hover {
      background-color: #ee3c2c;
    }
  }
}

@media (max-width: 1520px) {
  .cookie-modal {
    width: 52em;
  }

  .container {
    p {
      width: 75%;
      text-align: center;
      font-weight: 300;
    }
  }
}

@media (max-width: 1300px) {
  .cookie-modal {
    width: 45em;
  }
  h4 {
    font-size: 0.95em;
  }
  .container {
    p {
      width: 80%;
      text-align: center;
      font-weight: 300;
      font-size: 0.9em;
    }
  }
}
